@import "~react-image-gallery/styles/css/image-gallery.css";

.aboutUs {
    margin: auto;
    padding: 1rem;
    width: 60%;
    text-align: justify;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
  
  .aboutUs .founder {
    font-family: 'Pirata One';
  }

  .our-standards {
    display: flex;
    justify-content: center;
  }
  
  /* Contact Page inputs */
  
  .contactCard {
    padding: 2rem;
    word-wrap: break-word;
    background-color: #1c2550;
    border: 1px solid #c6cef3;
    box-shadow: 5px 10px 5px #888888;
    font-size: 1.2rem;
    color: #FCF751;
    width: 80%;
  }
  
  .contactContainer .row .column input[type=text], .contactContainer .row .column input[type=email], .contactContainer .row .column textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .contactContainer .row .column input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contactContainer .row .column input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  
  .contactContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .contactContainer .header {
    text-align: center;
  }
  
  /* Create two columns that float next to eachother */
  
  .contactContainer .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* Clear floats after the columns */
  
  .contactContainer .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .alert {
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .alert.success {
    background-color: #4CAF50;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  
  .bloglinks {
    margin: auto;
    padding: 1rem;
    width: 60%;
    text-align: justify;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem 1rem;
  }
  
  .bloglinks .articleLink {
    /* margin: 1rem; */
    padding: 2rem;
    /* width: 32%; */
    word-wrap: break-word;
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    box-shadow: 5px 10px 5px #888888;
  }
  
  .bloglinks .articleLink a {
    text-decoration: none;
    color: #007bb5;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .bloglinks .articleLink p {
    font-size: 1rem;
    line-height: normal;
  }
  
  .blog {
    margin: auto;
    padding: 1rem;
    width: 60%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
  
  .blog .author {
    display: flex;
    align-items: center;
  }
  
  .blog .author span {
    font-size: 1rem;
    padding-left: 1rem;
    clear: left;
    float: left;
  }
  
  .blog .author .authorImg {
    border-radius: 50%;
    width: 3.5rem;
    height: auto;
  }
  
  .quotelinks {
    margin: auto;
    padding: 1rem;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem 0rem;
  }
  
  .quotelinks .inner .box {
    background: #fff;
    /* border-radius: 5px; */
    /* rgba(0, 0, 0, .5) */
    box-shadow: 0 0 1rem #1c2550;  
    font-size: 1.3rem;
    text-align: justify;
  }
  
  .quotelinks .inner .box .text div {
    padding-top: 1.5rem;
  }
  
  .quotelinks .inner .box .text div a {
    /* text-decoration: none; */
    color: #000000;
    font-weight: bold;
  }
  
  .quotelinks .quote {
    word-wrap: break-word;
    padding: 1rem;
  }
  
  .quotelinks .credit {
      font-family: var(--sans);
    font-size: .8rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
    padding-right: 0.5rem;
  }
  
  .quotelinks .fa {
      font-size: 3.5rem;
    /* color: rgba(100, 58, 122, .2); */
    color: #1c2550;
    float: left;
    padding: 1rem;
  }
  
  .quotes {
    margin: auto;
    padding: 1rem;
    width: 60%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }
  
  .quotes .author {
    display: flex;
    align-items: center;
  }
  
  .quotes .author span {
    font-size: 1rem;
    padding-left: 1rem;
    clear: left;
    float: left;
  }
  
  .quotes .author .authorImg {
    border-radius: 50%;
    width: 3.5rem;
    height: auto;
  }
  
  .quotes {
    margin: auto;
    padding: 1rem;
    width: 70%;
    text-align: justify;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 2.1rem;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }
  
  .loader{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #05283f;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  .footer {
    position: relative;
    bottom: 0;
    z-index: 3;
    background-color: #1c2550;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    font-size: 0.9rem;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }

  /* media queries BEGIN */

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .contactContainer .column, .contactContainer .row .column input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
    .blog {
      width: 75%;
      font-size: 1.5rem;
      font-weight: normal;
    }
    .our-standards img {
      width: 80%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 450px) {
    .bloglinks {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem 0rem;
    }
  
    .blog {
      width: 75%;
      font-size: 1.5rem;
      font-weight: normal;
    }

    .our-standards img {
      width: 80%;
      height: auto;
    }
  }
  
  @media screen and (min-width: 450px) and (max-height: 700px) {
    .bloglinks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem 1rem;
    }
  
    .blog {
      width: 75%;
      font-size: 1.5rem;
      font-weight: normal;
    }

    .our-standards img {
      width: 80%;
      height: auto;
    }
  }